@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
  background: transparent;
}
.container {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.sidebar {
  position: relative;
  width: 16%;
  height: 100%;
  background-color: white;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  overflow-x: hidden;
  padding: 0px 9px 0px 18px;
}
.sidebar ul li {
  list-style-type: none;
  padding: 11px 8px;
  margin-bottom: 10px;
}
.sidebar ul li:nth-child(1) {
  margin-top: 10px ;
}
.active,
.sidebar ul li:hover {
  background-color: #52b9ea;
  border-radius: 9px;
  box-shadow: 0px 0px 31px -7px #52b9ea;
}
.sidebar ul li:hover a::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 4px;
  height: 27px;
  background: #52b9ea;
  border: 1px solid #52b9ca;
  border-radius: 60px;
}
.sidebar ul li a {
  width: 100%;
  height: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #525252;
}
.active a {
  color: white !important;
}
.active a::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 4px;
  height: 27px;
  background: #52b9ea;
  border: 1px solid #52b9ca;
  border-radius: 60px;
}
.sidebar ul li:hover a {
  color: white !important;
}
.icons {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 5px;
}
.link-text {
  padding: 0 14px;
  font-size: 0.7rem;
  font-weight: 700;
}
/* Border Bottom */
.b-bt {
  border: 0.5px solid #343434;
  border-radius: 50px;
}
.toggle-btn {
  margin: 25% 0% 25% 93%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 90px !important;
  position: fixed;
  background: white;
  padding: 1px 44px;
  position: relative;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin-left: auto !important;
}
.nav-bar-1 {
  margin-left: 30px;
}
.logo-img {
  width: 11%;
}
.user {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 16px;
  padding: 1px;
  height: 61px;
}
.user-text {
  padding-left: 13px;
}

.title {
  font-size: 11px;
  font-weight: 600;
  color: #828282;
}
.sub-title {
  color: #bdbdbd;
  font-size: 11px;
  font-weight: 300;
}
input[type="search"] {
  padding: 11px;
  border-radius: 30px;
  background: #fcfcfc;
  color: #000000;
  border: 1px solid #bbbbbb;
  padding-left: 45px;
}
input[type="search"]:focus-visible {
  outline: none;
  box-shadow: 0px 0px 8px -3px #52b9ead9;
}
.search-icon {
  position: relative;
  top: 2px;
  left: 36px;
  width: 12px;
  color: #bbbbbb;
}
.notification {
  color: #828282;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
}
/* Border right */
.b-r {
  background-color: #f2f2f2;
  width: 3px;
  height: 33px;
  border-radius: 8px;
}
.content {
  position: absolute;
  top: 76px;
  left: 224px;
  padding: 30px 15px;
  background: #f7f8fc;
  border-radius: 25px 0px 0px 25px;
  margin-top: 15px;
  margin-left: 5px;
}
.header {
  display: flex;
  align-items: center;
  margin: 16px 10px;
}
.heading {
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
.date-time {
  border: none;
  padding: 9px;
  position: absolute;
  right: 25px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.main-content-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.graph1 {
  background: white;
  padding: 19px;
  border-radius: 10px;
  max-width: 47%;
  max-height: 315px;
  margin: 0px 15px;
  box-shadow: 2px 5px 29px -18px #000000;
}
.graph1 > img {
  flex-wrap: wrap;
  width: 100%;
}
.graph2 {
  background: white;
  padding: 19px;
  border-radius: 10px;
  max-width: 30%;
  height: 315px;
  margin: 0px 18px;
  box-shadow: 2px 5px 29px -18px #000000;
}
.graph2 > img {
  flex-wrap: wrap;
  width: 100%;
}
.h61 {
  font-size: 12px;
  margin-bottom: 15px;
}
iframe {
  border-radius: 20px;
  max-width: 100%;
  height: 90%;
}
.ch-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #030229;
}
.ch-img > img {
  margin: 0% 3%;
  padding: 0% 2%;
}
/* Toggle navigation */
/* .closed {
  width: 46%;
}
.closed .link-text {
  display: none !important;
} */
