@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
  background: transparent;
}
.container {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 100vh;
}
.sidebar {
  position: relative;
  width: 14%;
  height: 100%;
  background-color: white;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  overflow-x: hidden;
  padding: 0px 16px 0px 14px;
}
.sidebar ul li {
  list-style-type: none;
  padding: 11px 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sidebar ul li:nth-child(1) {
  margin-top: 22px;
}
.active,
.sidebar ul li:hover {
  background-color: #52b9ea;
  border-radius: 9px;
  box-shadow: 0px 0px 17px -6px #52b9eae3;
}
.sidebar ul li:hover a::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2px;
  height: 27px;
  background: #52b9ea;
  border: 1px solid #52b9ca;
  border-radius: 60px;
}
.sidebar ul li a {
  width: 100%;
  height: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #525252;
}
.active a {
  color: white !important;
}
.active a::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2px;
  height: 27px;
  background: #52b9ea;
  border: 1px solid #52b9ca;
  border-radius: 60px;
}
.sidebar ul li:hover a {
  color: white !important;
}
.icons {
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 5px;
}
.link-text {
  padding: 0 14px;
  font-size: 0.7rem;
  font-weight: 700;
}
/* Border Bottom */
.b-bt {
  border: 0.5px solid #343434;
  border-radius: 50px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 76px !important;
  position: fixed;
  background: white;
  position: relative;
  padding-left: 25px;
  padding-right: 45px;
  padding-top: 10px;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin-left: auto !important;
}
.nav-bar-1 {
  margin-left: 20px;
}
.logo-img {
  width: 11%;
}
.user {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 1px;
  height: 53px;
}
.user-text {
  padding-left: 13px;
}
.admin-img {
  max-width: 84%;
  margin-top: 4px;
}
.title {
  font-size: 11px;
  font-weight: 600;
  color: #828282;
  padding-bottom: 6px;
}
.sub-title {
  color: #a2a2a2;
  font-size: 10px;
  font-weight: 300;
}
input[type="search"] {
  border-radius: 30px;
  background: #fcfcfc;
  color: #000000;
  border: 0.1px solid #bbbbbb;
  padding-left: 45px;
  width: 387px;
  height: 38px;
}
input[type="search"]:focus-visible {
  outline: none;
  box-shadow: 0px 0px 8px -4px #52b9ead9;
}
.search-icon {
  position: relative;
  top: 2px;
  left: 36px;
  width: 12px;
  color: #bbbbbb;
}
.notification {
  color: #828282;
  background: #f2f2f2;
  border-radius: 50%;
  padding: 10px;
}
/* Border right */
.b-r {
  background-color: #f2f2f2;
  width: 3.5px;
  height: 33px;
  border-radius: 8px;
}
.content {
  position: absolute;
  top: 76px;
  left: 188px;
  padding: 16px 15px;
  background: #f7f8fc;
  border-radius: 25px 0px 0px 25px;
  margin-top: 15px;
  margin-left: 5px;
}
.header {
  display: flex;
  align-items: center;
  margin: 16px 10px;
}
.heading {
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}
.date-time {
  border: none;
  padding: 9px;
  position: absolute;
  right: 25px;
}
.date {
  display: flex;
  align-items: center;
  font-size: 11px;
  background: white;
  padding: 7px 12px 6px 15px;
  position: absolute;
  right: 44px;
  justify-content: space-between;
  width: 178px;
  border-radius: 5px;
}
.b-l1 {
  background-color: #787878;
  width: 1px;
  height: 18px;
  border-radius: 8px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.main-content-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.graph1 {
  background: white;
  border-radius: 10px;
  max-width: 48%;
  max-height: 357px;
  margin: 0px 4px;
  padding: 19px 16px 14px 16px;
  box-shadow: 2px 5px 35px -23px #000000;
}
.graph1 > img {
  flex-wrap: wrap;
  width: 100%;
}
.graph2 {
  background: white;
  padding: 19px 16px 14px 16px;
  border-radius: 10px;
  height: 315px;
  margin: 0px 4px;
  box-shadow: 2px 5px 29px -18px #000000;
}
.graph2 > img {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 12px;
}
.h61 {
  font-size: 12px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 17px;
}
iframe {
  border-radius: 20px;
  max-width: 100%;
  height: 90%;
}
.dot {
  background: #d11149;
  height: 5px;
  width: 6px;
  border-radius: 50%;
  margin-right: 11px;
}
.ch-txt {
  margin-right: 10px;
}
.ch-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #828282;
}
.ch-img > img {
  padding: 0% 2%;
}
/* Toggle button */
.closed {
  width: 40%;
}
.closed .link-text {
  display: none;
}
.toggle-btn {
  cursor: pointer;
  margin: 25% 0% 25% 93%;
}
/* .closed .sidebar {
  padding-right: 18px;
}
.closed .content {
  left: 6%;
}
.closed .toggle-btn {
  margin: 25% 0% 25% 93%;
  cursor: pointer;
} */
